@use "src/fonts";

* {
  box-sizing: border-box;
}

$grey: #9fa5ac;
$black: #191919;
// $text: #fff;
$bg: #fafaf0;
$yellow: #ffdb59;
$green: #28eca5;
$red: #ff5959;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $bg;
  color: $black;
  font-family: "Neue Haas Unica Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  // color: $text;
  // mix-blend-mode: difference;
}

header {
  width: 85vw;
  max-width: 1440px;
  margin: 3rem auto;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid $black;
  .logo {
    .logoInteractive {
      display: flex;
      line-height: 1;
      .smileyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 81px;
        height: 81px;
        margin-top: -2.5px;
        &:nth-last-child(1) {
          margin-left: -1rem;
          > .smiley {
            animation-delay: 1.5s;
          }
        }
        span {
          &.smiley {
            // display: inline;
            width: 100%;
            height: 100%;
            background-image: url(./images/smiley.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            animation: spin 10s linear infinite;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            font-size: 70pt;
            line-height: 0;
            // &:nth-child(2) {
            //   margin-left: -0.25rem;
            // }
            // &:nth-child(3) {
            //   margin-left: -1rem;
            // }
            transform-origin: center center;
            @keyframes spin {
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
    width: 50%;
    font-family: "Formula Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-size: 72pt;
    line-height: 0.9;
    font-weight: bold;
  }
  .desc {
    width: 50%;
  }
}

.container {
  width: 85vw;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  &:nth-last-child(1) {
    margin-bottom: 3rem;
  }
  > h1 {
    margin: 0rem 0 0 0;
    font-family: "Formula Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-size: 72pt;
    line-height: 1;
  }
  h3 {
    font-weight: 500;
    font-size: 21pt;
    margin: -0.5rem 0 2.5rem 0;
    line-height: 1;
    width: 60%;
    // color: $grey;
  }
  .articleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 2em;
    .card {
      width: 100%;
      height: 100%;
      .cardImageParent {
        border-radius: 0.75rem;
        border: 1px solid $black;
        overflow: hidden;
        .cardImage {
          padding-top: 70%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .cardInfo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        margin: 1rem;
        .tags {
          margin: 0.375rem 0 1rem 0;
          span {
            display: inline-block;
            padding: 0.375rem 0.475rem 0.475rem 0.475rem;
            border: 1px solid $black;
            border-radius: 0.35rem;
            text-transform: capitalize;
            color: $black;
            &.category {
              background: $grey;
            }
            &.score {
              &.positive {
                background: $green;
              }
              &.neutral {
                background: $yellow;
              }
              &.negative {
                background: $red;
              }
              margin-left: 0.5rem;
            }
          }
        }
        h1 {
          font-weight: 500;
          font-size: 21pt;
          color: $black;
          text-transform: none;
          width: 90%;
          margin: 0;
        }
        p {
          color: $black;
          line-height: 1.3;
          margin: 0.75rem 0 0 0;
        }
      }
    }
  }
  &.hide {
    display: none;
  }
}

footer {
  width: 85vw;
  max-width: 1440px;
  margin: 3rem auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid $black;
  .copy {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      margin-left: 0.275rem;
      color: $black;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -2px;
        background-color: $black;
        transition: width 0.25s ease-in-out;
      }
      &:hover {
        &::before {
          width: 0;
        }
      }
    }
    .heart {
      margin-right: 0.25rem;
    }
  }
  .links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    a {
      padding: 0.6rem 1.1rem 0.8rem 1.1rem;
      border-radius: 10rem;
      border: 1px solid $black;
      color: $black;
      margin-right: 0.75rem;
      line-height: 1;
      transition: background-color 0.25s ease, color 0.25s ease;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &:hover {
        background-color: $black;
        color: $bg;
      }
    }
  }
}
